<style>
p.solid {
  border-style: solid;
  margin-top: 100px;
  color: CornflowerBlue;
} </style>



<% @sports.each do |sport| %>
<p class = "solid">
<%= link_to sport.name, sport%><br>
<%= sport.price_per_person%>
<%= link_to image_tag(sport.main_image, size: "300x300"), sport%>
<%= sport.description%>
<%= %>
<%= %>
<%end%>
</p>








