

<header>
    <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://video.wixstatic.com/video/e9435a_161400cd85d142658eb5bfd9b0bcf0ab/1080p/mp4/file.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white title-show text-77px">
        <h1 class="text-77px">Our latest 10 events</h1>
        <p class="lead mb-0"> Make your life extreme</p>
      </div>
    </div>
  </div>
</header>

<div class="container">
    <div class="text-center margin-top-50 title-page">
        <h1></h1>
    </div>
    <% events = @events.last(10)%>
    <% events.each do |event|%>
    <div class="row box-event">
        <div class="col-lg-4">
            <%= link_to image_tag(event.day_type.image_link, size: "300x300"), event, {class:"img-fluid"}%>
        </div>
        <div class="col-lg-8 margin-top-25">
            <h2><%= link_to "#{event.sport.name} #{event.day_type.name}", event, {class: "link-button text-25px title-page"}%></h2>
            <p><%= event.sport.description%></p>
            <h4>Price per person: £<%= event.sport.price_per_person%></h4>
            <%= link_to 'Show More', event, {class:"btn btn-dark buttom-show"}%>
        </div>
        <br>
    </div>
    <%end%>
</div>

