<!DOCTYPE html>
<html>
  <head>
    <title>Adrenaline Corp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Bangers|Gloria+Hallelujah|Permanent+Marker&display=swap" rel="stylesheet">
  </head>

  <body>
    <div>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark1">
      <div class="container">
      <%= link_to 'Adrenaline', '/', {class: 'navbar-brand'} %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'Home', '/', {class: "nav-link"} %>
        </li>
        <li class="nav-item">
          <%= link_to 'Events', events_path, {class: "nav-link"} %>
        </li>
        <li class="nav-item">
          <%= link_to 'Contact us', "/", {class: "nav-link"} %>
        </li>
      </ul>
      <% if current_user %>
        <span class="navbar-text padding-menu">
          <%= "#{current_user.name}" %>
        </span>
        <span class="navbar-text padding-menu">
          <%= link_to "Logout", '/logout' %>
        </span>
        <% else %>
        <span class="navbar-text">
          <%= link_to 'Login', '/login', {class: "nav-link padding-menu"}%>
        </span>
        <span class="navbar-text">
          <%= link_to 'Signup', '/signup', {class: "nav-link padding-menu"} %>
        </span>
        <% end %>
          <!--<div class="text-center">
           <%= link_to "Signup test", '/signup', class: "btn btn-default btn-rounded mb-4", data: {toggle: "modal", target: "#modalRegisterForm"} %> 
          </div>-->
        
    </div>
    </div>
    </nav>
    </div>

    <!-- ########################################### MODAL HERE!!! ############################## NEED TO BE FIXED  -->

      <!--  <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body mx-3">
                <div class="md-form mb-5">
                  <i class="fas fa-user prefix grey-text"></i>
                  <input type="text" id="orangeForm-name" class="form-control validate">
                  <label data-error="wrong" data-success="right" for="orangeForm-name">Your name</label>
                </div>
                <div class="md-form mb-5">
                  <i class="fas fa-envelope prefix grey-text"></i>
                  <input type="email" id="orangeForm-email" class="form-control validate">
                  <label data-error="wrong" data-success="right" for="orangeForm-email">Your email</label>
                </div>

                <div class="md-form mb-4">
                  <i class="fas fa-lock prefix grey-text"></i>
                  <input type="password" id="orangeForm-pass" class="form-control validate">
                  <label data-error="wrong" data-success="right" for="orangeForm-pass">Your password</label>
                </div>

              </div>
              <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-deep-orange">Sign up</button>
              </div>
            </div>
          </div>
        </div> --> 
    
      <div><%= yield %></div>

      <!-- Footer -->
<footer class="page-footer font-small bg-dark1">

  <div class="bg-dark">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center ">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0 white-text">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 white-text">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Adrenaline Corp</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Adrenaline its a website that brings extreme experiences to our users. Our goal its to make a life time experience 
        for our users.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold white-text">Products</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="/sports/1">Paintball Events</a>
        </p>
        <p>
          <a href="/sports/2">Parkour Events</a>
        </p>
        <p>
          <a href="/sports/3">Drifting Events</a>
        </p>
        <p>
          <a href="/sports/4">Rock Climbing Events</a>
        </p>
        <p>
          <a href="/sports/5">Sky Diving Events</a>
        </p>
        <p>
          <a href="/sports/6">Motocross Events</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold white-text">Adrenaline links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="/user">Your Account</a>
        </p>
        <p>
          <a href="/signup">Become a member</a>
        </p>
        <p>
          <a href="/events">See all our events</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 white-text">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold ">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="icon-compass2 mr-3"></i> New York, NY 10012, US</p>
        <p>
          <i class="icon-laptop mr-3"></i> info@adrenaline.com</p>
        <p>
          <i class="icon-phone mr-3"></i> + 01 234 567 88</p>
        <p>
          <i class="icon-mobile mr-3"></i> + 01 234 567 89</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 white-text">© 2020 Copyright:
    <a href="/"> www.adrenaline.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>$('.modal-dialog').parent().on('show.bs.modal', function(e){ $(e.relatedTarget.attributes['data-target'].value).appendTo('body'); })</script>
  </body>
  

</html>
